<div id="about">
<h2>About</h2>
<br>
Approximately 1.5 million sheltered animals are euthanized every year, and 6.5 million were impounded in 2015. Meanwhile, the rate of animals entering shelters rises every year and adoption rates have not.
<br><br>
Thinking of adopting a pet? Curious as to which pets are near you in the City of Miami? Here at OneStopAdopt, we strive to make navigating the animal adoption process easy for you. 

<br><br>
While we at OneStopAdopt encourage adopting shelter pets, we also encourage would-be owners to plan responsibly before adopting. 
<br> 

<br>
We invite you to find your future friend! 

</div>

<h4>Web Development Team</h4>

<div class="developers">
	
	<span><img src="http://mimg.ugo.com/201101/3/1/3/162313/cuts/anchorman-dog_528_poster.jpg" class="devpic"><h5>Stephanie Ricardo</h5></span>

	<span><img src="kevin.jpg" class="devpic"><h5>Kevin Wong</h5></span>
	
	<span><<img src="alfonso.jpg" class="devpic"><h5>Alfonso Estremadoyro</h5>/span>

</div>

<h4>Wellness Coordinators</h4>

<div class="wellness-team">
	<span><img src="neo-nala.jpg" class="devpic"><h5>Neo and Nala</h5></span>

	<span><img src="http://www.meatpoultry.com/-/media/ImagesNew/MeatPoultry/Features_2016/08/Sasquatchbodyissue.jpg?la=en&hash=C41CFAE1F8AE6248645C75C13F080A9652AAACBC" class="devpic"><h5>Annie</h5></span>
