<br>
<br>

<div class="about">
<h1>About</h1>
<p>Thinking of adopting an animal in need? Millions of amazing animals are waiting to go to a special home like yours! </p>
<br> <p>For those who are thinking to adopt
<br>
<p>Navigating the adoption process isn't as hard as you think. At OneStopAdopt, we strive to make the adoption process easy for all. </p>
<br>

<p>We invite you to discover the joy of adopting a new companion!</p>
</div>

<div class="devname">
	<h2>Stephanie</h2>
	<h2>Kevin</h2>
	<h2>Alfonso</h2>
</div>

<div class="developers">
	
	<img src="http://mimg.ugo.com/201101/3/1/3/162313/cuts/anchorman-dog_528_poster.jpg" class="devpic">
	<img src="http://www.meatpoultry.com/-/media/ImagesNew/MeatPoultry/Features_2016/08/Sasquatchbodyissue.jpg?la=en&hash=C41CFAE1F8AE6248645C75C13F080A9652AAACBC" class="devpic">
	
	<img src="https://pbs.twimg.com/profile_images/511593607279562752/azzs0q6y_400x400.jpeg" class="devpic">
</div>