	<div id="welcome-div">
		<span id="welcome">
			<h1>Welcome to OneStopAdopt!</h1>
	  </span>
  </div>

  
	<center>
		<br>
		<h3>Interested in seeing adoptable pets in the city of Miami area?</h3> 
		<br>

		<h3>See pets near you!</h3>
		<center>
		<br>
			<%= link_to "Pet Listing", pets_path, class: "btn btn-primary btn-lg" %>
		</center>
		<br>
	</center>



  



	  


