<div class="center jumbotron">
	<h1>OneStopAdopt</h1>
	<p>
	  This is the home page for OneStopAdopt! Welcome!
	</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div>
	<button class ="btn btn-primary btn-lg">Dog</button>
	<button class ="btn btn-primary btn-lg">Cat</button>
	<button class ="btn btn-primary btn-lg">Other</button>
	<button class ="btn btn-primary btn-lg">Surprise!</button>
</div>